.App {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	background-color: #fafafa;
}

.nav-bar-container {
	position: relative;

	width: 100%;
	height: 65px;
	box-sizing: border-box;
	border-bottom: 1px solid rgb(138, 138, 138);
	background-color: #3888ff;
	color: white;
}

.main-view-wrapper {
	position: relative;
	width: 65%;
	left: 50%;
	transform: translateX(-50%);
}

.main-view-container {
	position: relative;
}

.player-view-header-container {
	position: relative;

	margin-top: 20px;
	margin-bottom: 30px;
	height: 150px;
}

.player-image {
	position: relative;
	width: 150px;
	height: 150px;
	background-color: black;
	float: left;
	margin-right: 20px;
	top: 50%;
	transform: translateY(-50%);
}

.player-personal-info-container {
	position: relative;

	height: 150px;
	top: 50%;
	transform: translateY(-50%);

	display: inline-block;
}

.player-name {
	font-size: 40px;
	font-weight: bold;
	font-family: "Open Sans";
	color: #2f3640;
}

.player-ladder-position span {
	color: rgb(0, 109, 235);
	font-weight: bold;
	margin-right: 5px;
}
.update-button {
	position: absolute;
	bottom: 0px;

	background-color: #2965ff;
	color: white;
	padding: 10px 20px;
	border-style: none;
	border-radius: 1px;
	font-size: 20px;
}

.player-information-container {
	float: left;

	width: 350px;

	margin-right: 50px;
}

.player-info-grid-container {
	display: grid;
	grid-template-columns: 400px auto;
}

.player-rank-information {
	position: relative;
	background-color: white;
	box-shadow: 0px 2px 4px gray;
	width: 100%;
	height: 200px;
	margin-bottom: 20px;
	box-sizing: border-box;
	padding: 20px;
}

.rank-icon {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 125px;
	height: 135px;
	background: url("./media/league-of-legends-rankup.gif");

	background-position: center;
	background-size: 400%;
	display: inline-block;
	margin-right: 20px;
}

.rank-icon img {
	position: relative;
	width: 100%;
	height: 100%;
}

.rank-info-container {
	position: relative;
	display: inline-block;
	font-size: 20px;
}
.rank-info-container div {
	margin-bottom: 2px;
}

.rank-category {
}

.player-rank {
	font-weight: bold;
	font-size: 25px;
}

.player-champion-stats {
	position: relative;
	background-color: white;
	box-shadow: 0px 2px 4px gray;
	width: 100%;
	height: 300px;
}

.player-stats-selectors-container {
	display: flex;
}

.player-stats-selector {
	position: relative;
	background-color: rgb(231, 231, 231);
	text-align: center;
	display: inline-block;

	width: 100%;
	box-sizing: border-box;
	border-style: none;
	padding: 15px;
}

.champion-stats-card {
	position: relative;

	box-sizing: border-box;
	padding: 5px;
	height: 100px;

	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px solid rgb(202, 202, 202);
}

.champion-stats-section {
	position: relative;
	display: inline-block;
	text-align: center;
	margin-right: 5px;
	font-size: 14px;
	font-family: "Noto Sans Display";
}

.champion-stats-section span {
	display: block;
}

.champion-stats-champion-icon {
	position: relative;
	background: url("./media/veigaricon.png");
	min-width: 50px;
	min-height: 50px;
	background-size: cover;
	border-radius: 50%;
}

.player-match-history-wrapper {
	float: right;
	height: auto;

	width: auto;
}

.match-history-filters {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 90%;

	box-sizing: border-box;
	padding-top: 20px;
	padding-bottom: 20px;
}

.match-history-buttons {
	float: right;
}
.match-history-container {
	box-shadow: 0px 2px 4px gray;
	height: auto;
	padding-bottom: 20px;
}
.match-history-header {
	background-color: white;
	border-bottom: 1px solid rgb(185, 185, 185);
}

.match-cards-container {
	position: relative;
	width: 100%;
}

@media only screen and (max-width: 1700px) {
	.main-view-wrapper {
		width: 75%;
	}
}

@media only screen and (max-width: 1600px) {
	.main-view-wrapper {
		width: 75.5%;
	}
}

@media only screen and (max-width: 1600px) {
	.main-view-wrapper {
		width: 75.5%;
	}
}

@media only screen and (max-width: 1400px) {
	.player-info-grid-container {
		display: block;
		height: 400px;
		background-color: red;
	}

	.player-rank-information {
		display: inline-block;
		height: 100%;
	}

	.player-champion-stats {
		margin-left: 50px;
	}

	.champion-stats-card {
		height: 60px;
	}

	.player-information-container {
		display: grid;
		grid-template-columns: 400px auto;

		width: 100%;
	}
}
