.App {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	background-color: #fafafa;
}

.nav-bar-container {
	position: relative;

	width: 100%;
	height: 65px;
	box-sizing: border-box;
	border-bottom: 1px solid rgb(138, 138, 138);
	background-color: #3888ff;
	color: white;
}

.main-view-wrapper {
	position: relative;
	width: 70%;
	left: 50%;
	transform: translateX(-50%);
}

.main-view-container {
	position: relative;
}

.player-view-header-container {
	position: relative;

	margin-top: 20px;
	margin-bottom: 30px;
	height: 150px;
}

.player-image {
	position: relative;
	width: 150px;
	height: 150px;
	background-color: black;
	float: left;
	margin-right: 20px;
	top: 50%;
	transform: translateY(-50%);
}

.player-personal-info-container {
	position: relative;

	height: 150px;
	top: 50%;
	transform: translateY(-50%);

	display: inline-block;
}

.player-name {
	font-size: 40px;
	font-weight: bold;
	font-family: "Open Sans";
	color: #2f3640;
}

.player-ladder-position span {
	color: rgb(0, 109, 235);
	font-weight: bold;
	margin-right: 5px;
}
.update-button {
	position: absolute;
	bottom: 0px;

	background-color: #2965ff;
	color: white;
	padding: 10px 20px;
	border-style: none;
	border-radius: 1px;
	font-size: 20px;
}

.player-information-container {
	float: left;

	width: 350px;

	margin-right: 50px;
}

.player-info-grid-container {
	display: grid;
	grid-template-columns: 400px auto;
}

.player-rank-information {
	position: relative;
	background-color: white;
	box-shadow: 0px 2px 4px gray;
	width: 100%;
	height: 200px;
	margin-bottom: 20px;
	box-sizing: border-box;
	padding: 20px;
	display: grid;
}

.rank-icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 125px;
	height: 135px;
	background: url("./media/league-of-legends-rankup.gif");

	background-position: center;

	margin-right: 20px;
}

.rank-info-container {
	position: absolute;
	display: inline-block;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
}
.rank-info-container div {
	margin-bottom: 2px;
}

.rank-category {
}

.player-rank {
	font-weight: bold;
	font-size: 25px;
}

.player-champion-stats {
	position: relative;

	box-shadow: 0px 2px 4px gray;
	width: 100%;
}

.player-stats-selectors-container {
	display: flex;
}

.player-stats-selector {
	position: relative;
	background-color: rgb(231, 231, 231);
	text-align: center;
	display: inline-block;

	width: 100%;
	box-sizing: border-box;
	border-style: none;
	padding: 15px;
}

.champion-stats-card {
	position: relative;

	box-sizing: border-box;
	padding: 5px;
	height: 100px;

	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px solid rgb(202, 202, 202);
}

.champion-stats-section {
	position: relative;
	display: inline-block;
	text-align: center;
	margin-right: 5px;
	font-size: 14px;
	font-family: "Noto Sans Display";
}

.champion-stats-section span {
	display: block;
}

.champion-stats-champion-icon {
	position: relative;
	background: url("./media/veigaricon.png");
	min-width: 50px;
	min-height: 50px;
	background-size: cover;
	border-radius: 50%;
}

.player-match-history-wrapper {
	float: right;
	height: auto;

	width: auto;
}

.match-history-filters {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 90%;

	box-sizing: border-box;
	padding-top: 20px;
	padding-bottom: 20px;
}

.match-history-buttons {
	float: right;
}
.match-history-container {
	box-shadow: 0px 2px 4px gray;
	height: auto;
	padding-bottom: 20px;
}
.match-history-header {
	background-color: white;
	border-bottom: 1px solid rgb(185, 185, 185);
}

.match-cards-container {
	position: relative;
	width: 100%;
}

@media only screen and (max-width: 1707px) {
	.main-view-wrapper {
		width: 75%;
	}
}

@media only screen and (max-width: 1600px) {
	.main-view-wrapper {
		width: 75.5%;
	}
}

@media only screen and (max-width: 1600px) {
	.main-view-wrapper {
		width: 75.5%;
	}
}

@media only screen and (max-width: 1400px) {
	.player-info-grid-container {
		display: block;
	}

	.player-information-container {
		position: relative;

		display: block;
	}

	.player-rank-information {
		display: inline-block;
		height: 100%;
		float: left;
	}

	.player-champion-stats {
		position: relative;
	}

	.champion-stats-card {
		height: 60px;
	}

	.player-information-container {
		width: 100%;
		display: grid;
		grid-template-columns: 35% auto;
		column-gap: 40px;
	}

	.player-match-history-wrapper {
		width: 100%;
		position: relative;

		margin-top: 50px;
	}

	.match-history-container {
	}
}

@media only screen and (max-width: 1300px) {
	.player-rank-information {
		position: relative;

		display: inline-block;
	}

	.rank-info-container {
		position: absolute;

		bottom: 0px;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		font-size: 10px;
		width: 70%;
	}

	.rank-category {
		font-size: 20px;
		margin-top: 10px;
		font-weight: bold;
	}

	.player-rank {
		width: 100%;
	}

	.current-lp-win-ratio {
		font-size: 15px;
	}

	.win-ratio {
		font-size: 15px;
	}

	.rank-icon {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 20px;
	}
}

@media only screen and (max-width: 900px) {
	.main-view-wrapper {
		position: relative;
		width: 85%;
		left: 50%;
		transform: translateX(-50%);
	}
}

@media only screen and (max-width: 800px) {
	.champion-stats-champion-icon {
		min-width: 40px;
		min-height: 40px;
	}

	.lp-container {
		font-size: 14px;
	}
}

@media only screen and (max-width: 700px) {
	.champion-stats-section {
		position: relative;
		display: inline-block;
		text-align: center;
		margin-right: 5px;
		font-size: 12px;
		font-family: "Noto Sans Display";
	}

	.champion-stats-section span {
		display: block;
	}

	.champion-stats-champion-icon {
		min-width: 35px;
		min-height: 35px;
	}

	.rank-icon {
		width: 80%;
	}
	.rank-category {
		font-size: 12px;
		margin-top: 40px;
	}

	.player-rank {
		font-size: 13px;
	}

	.current-lp-win-ratio {
		font-size: 12px;
	}
	.win-ratio {
		font-size: 12px;
	}
}

@media only screen and (max-width: 600px) {
	.player-information-container {
		grid-template-columns: auto;
	}

	.player-rank-information {
		position: relative !important;
		height: 200px;

		display: block;
	}

	.rank-icon {
		width: 120px;
		height: 120px;

		position: absolute !important;
		top: 50% !important;
		transform: translateY(-50%);
		left: 30px;
	}

	.rank-info-container {
		height: 100%;
		position: absolute;

		float: right !important;
		right: 0px;
		top: 50%;
		transform: translateY(-50%);
		text-align: left;
	}
	.rank-category {
		font-size: 20px !important;
	}

	.player-rank {
		font-size: 20px !important;
	}
	.current-lp-win-ratio {
		font-size: 20px !important;
	}

	.win-ratio {
		font-size: 20px !important;
	}
}

@media only screen and (max-width: 500px) {
	.main-view-wrapper {
		width: 95%;
	}
}

@media only screen and (max-width: 400px) {
	.player-view-header-container {
		margin-bottom: 10px;
	}

	.player-image {
		width: 100px;
		height: 100px;
	}

	.player-personal-info-container {
		height: 100px;
	}

	.player-name {
		font-size: 30px;
	}

	.player-ladder-position {
		font-size: 16px;
	}

	.update-button {
		font-size: 13px;
		padding: 8px 10px;
	}
}
